<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Registration Details</h1>

    <h4>Candidate Name is <strong>{{this.formData.name}}</strong>.</h4>

    <h4>Candidate Age is <strong>{{this.formData.age}}</strong>.</h4>

    <h4>Candidate Email is <strong>{{this.formData.email}}</strong>.</h4>

    <h4>Candidate Gender is <strong>{{this.formData.gender}}</strong>.</h4>

    <h4>Candidate Qualification is <strong>{{this.formData.qualification}}</strong>.</h4>
  </div>
</div>
